.sidebar {
    height: 100%;
    width: 50px;
    background-color: #fff;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
}

.sidebar-opened {
    height: 100%;
    width: 250px;
}

.sidebar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none!important;
    color: inherit;
    background-color: inherit;
    cursor: pointer;
}

.sidebar.sidebar-opened .sidebar-item .sidebar-item-text {
    display: block;
}

.sidebar:not(.sidebar-opened) .sidebar-item .sidebar-item-text {
    display: none;
}

.sidebar-toggle {
    position: absolute;
    bottom: 0;
    left: 0;
}

button.sidebar-toggle {
    border: none;
    outline: 0;
}